image: docker:latest
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: sensehubaksecr.azurecr.io/ui-admin-v2
  K8S_NAMESPACE: hub
  REVISION: ui-admin-v2-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA

services:
  - docker:19.03.5-dind

stages:
  - build
  - deploy

build:
  stage: build
  only:
    - master
  image:
    name: docker:latest
    entrypoint: [""]
  script:
    - echo "Build on Azure"
    - docker login sensehubaksecr.azurecr.io -u $ACR_USERNAME -p $ACR_PASSWORD
    - docker build -f Dockerfile . -t $REPOSITORY_URL:$REVISION
    - docker push $REPOSITORY_URL:$REVISION
  tags:
    - docker
  allow_failure: false

deploy:
  stage: deploy
  only:
    - master
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  script:
    - echo "Deploy on Azure using Agent"
    - kubectl config use-context $K8S_CONTEXT
    - kubectl config set-context --current --namespace=$K8S_NAMESPACE
    - sed -i "s/image_to_be_replaced/$REVISION/g" deployment.yaml
    # kubectl apply -f prod.yaml
    - kubectl apply -f deployment.yaml
    - sh check_pod_status.sh
  
  tags:
    - docker
  allow_failure: false
