/*
 * Fix validation icon position, because was overlaying dropdown icon
 */
.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .form-control:valid, .form-control.is-valid {
    background-position: right calc(0.875em + 0.325rem) center !important;
}

.hide {
    display: none !important;
}

.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: #f1416c;
  padding-left: .25rem;
}